<div class="header">
  <div class="header-left">
    <img src="../../assets/images/uber-logo.jpeg" alt="logo">
    <ul>
      <li (click)="toggleCompany()">Company <i class="fas {{arrowIcon}}"></i></li>
      <li>Safety</li>
      <li>Help</li>
      <li>COVID-19 resources</li>
      <div [ngClass]="dropNav" class="company-menu">
        <ul>
          <li>About us</li>
          <li>Our offerings</li>
          <li>How Uber works</li>
          <li>Global citizenship</li>
          <li>Newsroom</li>
          <li>Investor relations</li>
          <li>Blog</li>
          <li>Careers</li>
        </ul>
      </div>
    </ul>
  </div>
  <div class="header-right">
    <ul>
      <li><i class="fas fa-globe"></i>EN</li>
      <li><i class="bi bi-grid-3x3-gap-fill"></i> Products</li>
      <li><i class="bi bi-person"></i> Log in</li>
      <li class="bg-white">Sign Up</li>
    </ul>
  </div>
</div>

