<div class="footer">

  <div class="footer-wrap">
    <img src="../../assets/images/-footer-logo.jpeg" alt="">
    <h4>Visit Help Center</h4>

    <div class="footer-contents">

      <div class="company">
        <h3>Company</h3>
        <ul>
          <li>About us</li>
          <li>Our offerings</li>
          <li>Newsroom</li>
          <li>Investors</li>
          <li>Blog</li>
          <li>Careers</li>
          <li>AI</li>
          <li>Gift cards</li>
        </ul>
      </div>

      <div class="products">
        <h3>Products</h3>
        <ul>
          <li>Ride</li>
          <li>Drive</li>
          <li>Deliver</li>
          <li>Eat</li>
          <li>Uber for Business</li>
          <li>Uber Freight</li>
        </ul>
      </div>

      <div class="citizenship">
        <h3>Global citizenship</h3>
        <ul>
          <li>Safety</li>
          <li>Diversity and Inclusion</li>
        </ul>
      </div>

      <div class="travel">
        <h3>Travel</h3>
        <ul>
          <li>Airports</li>
          <li>Cities</li>
        </ul>
      </div>

    </div>

    <div class="info">

    <div class="info-icons">
      <ul class="network">
        <li><i class="fab fa-facebook-square"></i></li>
        <li><i class="fab fa-twitter"></i></li>
        <li><i class="fab fa-youtube"></i></li>
        <li><i class="fab fa-linkedin"></i></li>
        <li><i class="fab fa-instagram"></i></li>
      </ul>
      <ul class="option">
        <li><i class="fas fa-globe"></i>English</li>
        <li><i class="fas fa-map-marker-alt"></i>Vancouver</li>
      </ul>
    </div>

    <div class="application">
      <img src="../../assets/images/app-store-google-4d63c31a3e.svg" alt="">
      <img src="../../assets/images/app-store-apple-f1f919205b.svg" alt="">
    </div>

    </div>

    <div class="copyright">
      <p>© 2022 Uber Technologies Inc.</p>
      <ul>
        <li>Privacy</li>
        <li>Accessibility</li>
        <li>Terms</li>
      </ul>
    </div>

  </div>
</div>
